@import 'tailwindcss';

@theme {
    --color-rosso: #7A0A0A;
    --color-goldd: #D9C6A3;
    --color-ivory: #F7F4EE;
    --color-charcoal: #1A1A1A;
    --color-wine: #4B0F1A;
    --font-great-vibes: 'Great Vibes', cursive;
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-playfair: 'Playfair Display', sans-serif;
}